.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  background-color: #333;
}

.nav-logo {
  width: 40px;
}

.navbar-links {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  font-size: 1em;
  text-decoration: none;
  color: white;
}

.navbar-links a:hover {
  color: #ddd;
}

.arrow-up {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
  margin: 0;
  padding: 0;

  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  color: white;

  transition: transform 0.1s ease-in-out;
}

.arrow-up img {
  width: 40px;
  height: 40px;
}

.arrow-up:hover {
  transform: scale(1.2);
}
