.about {
  text-align: center;
}

.about-logo {
  height: 40vmin;

  pointer-events: none;
}

.about-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px);
  
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  color: white;
}

.about-link {
  color: #61dafb;
}
